# Домашнее задание «Функции и работа с данными»

## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [24]:
import pandas as pd

In [25]:
rating_data = pd.read_csv('ratings2.csv')
rating_data
def class_ (value):
    if value  <= 2:
        return ( 'низкий рейтинг' )
    elif value  <= 4:
        return( 'средний рейтинг' )
    elif value  >= 4.5:
        return( 'высокий рейтинг' )

In [29]:
rating_data ['class_'] = rating_data['rating'].apply(class_)
rating_data.head()

   userId  movieId  rating   timestamp           class_
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [52]:
geo_data = {
'Центр': ['моск', 'тул', 'ярославл', 'ярославс'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [49]:
def add_geo_data(row):
    for key, value in geo_data.items():
        for x in value:
            if x in row:
                return key
    return 'undefined'

In [50]:
queries = pd.read_csv('keywords.csv')
queries['region'] = queries['keyword'].apply(add_geo_data)

In [53]:
check = queries[queries['region'] != 'undefined']
check.head(20)

,keyword,shows,region
370,авито ру санкт петербург,425134,Северо-Запад
564,погода в санкт петербурге,292489,Северо-Запад
849,авито ярославль,209581,Центр
1063,фарпост владивосток,176951,Дальний Восток
1236,банк санкт петербург,174375,Северо-Запад
1346,санкт петербург,144232,Северо-Запад
1579,авито тула,126168,Центр
2121,электронный дневник санкт петербургского образ...,94835,Северо-Запад
2153,авито псков,98931,Северо-Запад
2175,дром хабаровск,98361,Дальний Восток
2376,авито тульская область,89794,Центр
2398,авито мурманск,89787,Северо-Запад
2550,банк санкт петербург интернет банк,89123,Северо-Запад
2974,авто ру санкт петербург,74918,Северо-Запад
3017,погода в туле,72831,Центр
3206,дром владивосток,73084,Дальний Восток
3275,100 сп владивосток,76418,Дальний Восток
3687,авито хабаровск,63736,Дальний Восток
4492,авито санкт петербурге,53715,Северо-Запад
4635,погода в ярославле,57353,Центр

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1) В переменную years запишите список из всех годов с 1950 по 2010.

2) Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years

если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска

если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3) Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4) Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [ ]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
joined = ratings.merge(movies, on='movieId', how='left')

In [70]:
years = []
for x in range(1950, 2011):
    years.append(x)

In [71]:
def production_year(row):
    try:
        if row[len(row)-1] == ' ':
            a = len(row)-2
            b = len(row)-6
            row_ = int(row[b:a])
            for x in years:
                if x == row_:
                    return x
            return 1900
        else:
            a = len(row)-1
            b = len(row)-5
            row_ = int(row[b:a])
            for x in years:
                if x == row_:
                    return x
            return 1900
    except:
        return 1900

In [72]:
joined['year'] = joined['title'].apply(production_year)
sample_by_year = joined.groupby('year')
sample_by_year.mean()[['rating']].sort_values('rating', ascending=False).head()

        rating
year
1957  3.999579
1954  3.985693
1972  3.956477
1962  3.929445
1952  3.895315